body {
    background-image: url("https://i.cbc.ca/1.6140202.1628873766!/fileImage/httpImage/image.jpg_gen/derivatives/16x9_620/dungeons-dragons-essential-kit-art.jpg");
    background-size: cover;
    margin:0;
  }
  
  #text {
    background-color: black;
    color: white;
    padding: 10px;
    font-size: x-large;
  }
  
  #game {
    max-width: 500px;
    max-height: 400px;
    background-color: lightgray;
    color: white;
    margin: 0 auto;
    padding: 10px;
  }
  
  #controls {
    border: 1px black solid;
    padding: 5px;
  }
  
  #stats {
    border: 1px black solid;
    color: black;
    padding: 5px;
  }
  
  #monsterStats {
    display: none;
    border: 1px black solid;
    color: white;
    padding: 5px;
    background-color: red;
  }
  
  .stat {
    padding-right: 10px;
  }